[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging = "*"
typing = "*"
amplpy = "==0.18.0"
httpx = "==0.28.1"
matplotlib = "==3.11.2"
pandas = "==3.0.6"
pydantic = "==2.13.5"
pydantic-settings = "==2.15.0"
requests = "==2.34.2"
scikit-learn = "==1.9.1"
structlog = "==26.1.0"

[dev-packages]

[requires]
python_version = "3.12"
