[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging = "*"
typing = "*"
amplpy = "==0.18.0"
matplotlib = "==3.11.2"
pandas = "==3.0.6"
requests = "==2.34.2"
scikit-learn = "==1.9.1"

[dev-packages]

[requires]
python_version = "3.12"
